<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            [%t] %d{yyyy-MM-dd HH:mm:ss:SSS} [%X{correlationId}] [%X{ip}] %-5p %c - %m%n
        </Property>
    </Properties>

    <Appenders>

        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>


        <Socket name="syslogsocket" host="localhost" port="514" protocol="TCP">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Socket>

    </Appenders>

    <Loggers>

        <Logger name="com.example.logs" level="DEBUG"
                additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="syslogsocket" />
        </Logger>

    </Loggers>
</Configuration>